<div>
    <div>
        <p>Fullness: @ViewBag.Fullness</p>
        <p>Happiness: @ViewBag.Happiness</p>
        <p>Meals: @ViewBag.Meals</p>
        <p>Energy: @ViewBag.Energy</p>
    </div>
    <p>@ViewBag.Message</p>
    <partial name="@ViewBag.Partial"/>
</div>
